.button-container {
  width: 1184;
  height: 112;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 25px 0; */
  box-sizing: border-box;
  /* margin-top: 25px;
  margin-bottom: 25px; */
  margin: 40px 0px 0px;
  padding: 48px 0px 0px;
}

.button-view-all {
  padding: 16px 48px;
  width: 270.05px;
  height: 64px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  color: #004ac6;
  border: 2px solid #004ac6;
  /* border-radius: 6px; */
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-view-all:hover {
  background-color: #004ac6;
  color: #ffffff;
}

.button-view-all:active {
  transform: scale(0.97);
}
